@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(sections/header.css);

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}

@media (max-width: 1114px){
    .logo__button img{
        position: relative;
        bottom: 60px;
        right: 70px;
        width: 115px;
        height: 95px;
    }
    .logo__button  button {
        display: none;
    }
    .d-nav,.log-in_button,.sign-up{
        display: none;
    }
}